git:
  pagers:
    - colorArg: always
      pager: delta --dark --paging=never
  merging:
    args: "--no-ff"
customCommands:
  - command: >
      git commit  -m '{{.Form.Type}}{{if .Form.Scope}}({{.Form.Scope}}){{end}}{{.Form.Breaking}}: {{.Form.Message}}'  {{if .Form.Description}}-m '{{.Form.Description}}'{{end}}

    context: files
    description: "Create new conventional commit with emoji and optional description"
    key: C
    prompts:
      - type: "menu"
        key: "Type"
        title: "Type of change"
        options:
          - name: "✨ feat - A new feature"
            value: "✨ feat"
          - name: "\U0001F41B fix - A bug fix"
            value: "\U0001F41B fix"
          - name: "\U0001F4DD docs - Documentation only changes"
            value: "\U0001F4DD docs"
          - name: "\U0001F3A8 style - Code style changes (formatting, etc)"
            value: "\U0001F3A8 style"
          - name: "♻️ refactor - Code change that neither fixes a bug nor adds a feature"
            value: "♻️ refactor"
          - name: "\U0001F680 perf - A code change that improves performance"
            value: "\U0001F680 perf"
          - name: "✅ test - Adding missing tests or correcting existing tests"
            value: "✅ test"
          - name: "\U0001F527 chore - Changes to the build process or auxiliary tools"
            value: "\U0001F527 chore"
          - name: "\U0001F477 ci - Changes to CI configuration files and scripts"
            value: "\U0001F477 ci"
          - name: "\U0001F4E6 build - Changes that affect the build system or dependencies"
            value: "\U0001F4E6 build"
          - name: "⏪ revert - Reverts a previous commit"
            value: "⏪ revert"
          - name: "\U0001F516 release - Release a new tag."
            value: "\U0001F516 release"
      - type: "input"
        title: "Scope"
        key: "Scope"
        initialValue: ""
      - type: "menu"
        key: "Breaking"
        title: "Breaking change?"
        options:
          - name: "no"
            value: ""
          - name: "yes"
            value: "!"
      - type: "input"
        title: "Commit Message"
        key: "Message"
        initialValue: ""
      - type: "input"
        title: "Commit Description (Optional)"
        key: "Description"
        initialValue: ""
      - type: "confirm"
        key: "Confirm"
        title: "Commit"
        body: "Are you sure you want to commit?"
    loadingText: "Creating commit..."
